@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.autocomplete__result,
.autocomplete__input,
.ds-container {
  font-family: 'Incosolata', monospace;
  font-size: 16px;
}

.ds-article {
  margin: 40px 0;
}

.ds-article_sub {
  margin: 30px 0;
}

.ds-article__sub:last-child {
  margin-bottom: 0;
}

.ds-article__title {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  padding: 0;
  margin: 1em;
}

.ds-article .ds-article .ds-article__title {
  font-size: 1.2em;
}

.ds-article__paragraph {
  display: block;
}

.ds-article__paragraph_textonly:before {
  content: "\00a0\00a0\00a0";
}

.ds-container {
  max-width: 800px;
  margin: 0 auto;
}

.ds-head {
  text-align: center;
  padding: 0 0 40px;
  border-bottom: 1px dashed #333;
}

.ds-head__title {
  font-size: 2em;
}

.ds-kitten,
.ds-kitten-idle {
  margin: 20px auto;
  display: block;
  width: 112px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.ds-kitten-idle {
  display: none;
}

.ds-kitten-container:hover .ds-kitten-idle {
  display: block;
}

.ds-kitten-container:hover .ds-kitten {
  display: none;
}

* {
  box-sizing: border-box;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete__controls, .autocomplete__label, .autocomplete__input, .autocomplete__result {
  width: 100%;
  display: block;
}

.autocomplete__result {
  padding: 4px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.autocomplete__result:hover {
  background-color: rgb(175, 175, 175);
}

.autocomplete__label {
  position: absolute;
  display: none;
}

.autocomplete__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  padding: 4px 8px;
  margin: 0;
  color: #333;
  box-shadow: rgba(0,0,0,0.25) 0 1px 4px 0;
  display: inline-block;
  width: auto;
}

.autocomplete__input:focus {
  outline: none;
  border-color: #5892f8;
}

.autocomplete__input::placeholder {
  color: #666;
}

.autocomplete__results {
  position: absolute;
  border: 1px solid #a9a9a9;
  margin-top: -1px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.25) 0 4px 4px 2px;
}

.autocomplete__results_hidden {
  display: none;
}

.autocomplete__result.autocomplete__result_focused {
  background-color: #5892f8;
  color: #fff;
  cursor: default;
}
